<div class="navbar-wrapper">
	<div class="container">
		<nav class="navbar navbar-inverse navbar-static-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a id="navbar-brand" class="navbar-brand" href="#"><b>T</b><small>OMMY</small> <b>O</b><small>H</small></a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><a href="#/home">home</a></li>
						<li><a href="#/me">me</a></li>
						<li><a href="#/resume">resume</a></li>
						<li><a href="#/contact">contact</a></li>
						<li class="dropdown">
							<a href="#/login" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">more <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#/skills">Skill Storage</a></li>
								<li><a href="#/self">Self Q&A</a></li>
								<li><a href="#/daily">Daily Plan</a></li>
								<li><a href="#/about">About this website</a></li>
								<li role="separator" class="divider"></li>
								<li class="dropdown-header">My Other Websites</li>
								<li><a><small>coming soon!</small></a></li>
							</ul>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
            			<li id="active_font" class="active" ng-hide="login_status"><a href="#/login"><i class="fa fa-user" aria-hidden="true"></i>   login</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
</div><!-- end of .navbar-wrapper -->

<div class="container top_for_nav">

	<form class="form-signin" ng-submit="login()">
		<h2 class="form-signin-heading">Please sign in</h2>
		<!-- displaying login errors if there are any. -->
		<div ng-if="loginError">
			<div class="alert alert-danger fade in">
				{{ loginError }}
			</div>
		</div>

		<label for="username" class="sr-only">Username</label>
		<input type="text" id="usernmae" class="form-control" placeholder="Username" required autofocus ng-model="loginUser.username">

		<label for="password" class="sr-only">Password</label>
		<input type="password" id="password" class="form-control" placeholder="Password" required ng-model="loginUser.password">

		<button class="btn btn-md btn-primary btn-block" type="submit">Sign in</button>
		<h4>Don't have an account yet?</h4>
		<h4>Let's <a class="register_button"href="#/login" data-toggle="modal" data-target="#register_modal"><i class="fa fa-user-plus" aria-hidden="true"></i>     register</a>!</h4>
	</form><!-- end of login form -->

</div><!-- end of .container -->



<!-- Modal for register form -->
<div class="modal fade" id="register_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content modal_email_div">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Please register!</h4>
			</div>
			<form class="form-horizontal" ng-submit="register()">
				<div class="modal-body">
					<!-- displaying register errors if there are any. -->
					<!-- displaying flash if there are any. -->
					<flash-message class="registerError" duration="0" show-close="true"></flash-message>
					<div class="form-group">
						<label for="email" class="col-sm-2 control-label">Email</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="email" placeholder="your_email@please.com" ng-model="newUser.email">
						</div>
					</div>
					<div class="form-group">
						<label for="username" class="col-sm-2 control-label">Username</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="username" placeholder="username" ng-model="newUser.username">
						</div>
					</div>
					<div class="form-group">
						<label for="userPassword" class="col-sm-2 control-label">Password</label>
						<div class="col-sm-10">
							<input type="password" class="form-control" id="userPassword" placeholder="password" ng-model="newUser.password">
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-success">Register</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
				</div>
			</form>
		</div>
	</div>
</div><!-- end of Registration form Modal -->
